<div>
    <h3>Image Files</h3>
    {% if image_files %}
        <ul>
            {% for file in image_files %}
                <li>
                    <img src="{{ file.file.url }}" alt="Image file" width="320" height="240">

                    <h4>{{ file.title }}</h4>
                    <p><strong>Uploaded By:</strong> {{ file.uploaded_by }}</p>
                    <p><strong>Uploaded On:</strong> {{ file.created_at|date:"Y-m-d H:i" }}</p>
                    <p><strong>Description:</strong> {{ file.description }}</p>
                    <p><strong>Keywords:</strong> {{ file.keywords }}</p>
                    
                    <a href="{% url 'edit_metadata' file.id %}" class="btn btn-secondary btn-sm mt-2">Edit Metadata</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No image files uploaded.</p>
    {% endif %}
</div>
