{% load static %}
<div>
    <h3>Text Files</h3>
    {% if text_files %}
        <ul>
            {% for file in text_files %}
                <li>
                    <a href="{{ file.file.url }}" target="_blank">{{ file.title }}</a>

                    <p><strong>Uploaded By:</strong> {{ file.uploaded_by }}</p>
                    <p><strong>Uploaded On:</strong> {{ file.created_at|date:"Y-m-d H:i" }}</p>
                    <p><strong>Description:</strong> {{ file.description }}</p>
                    <p><strong>Keywords:</strong> {{ file.keywords }}</p>
                    
                    <a href="{% url 'edit_metadata' file.id %}" class="btn btn-secondary btn-sm mt-2">Edit Metadata</a>
                    {% if user == file.uploaded_by or user == file.project.user %}
                        <a href="{% url 'delete_file_from_manage' file.id %}" 
                        onclick="return confirm('Are you sure you want to delete this file?');">
                            <img src="{% static 'trash_can.png' %}" alt="Delete" style="height: 25px; cursor: pointer;">
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No text files uploaded.</p>
    {% endif %}
</div>
