{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <style>
        body {
            background-color: #1c1c1c;
            color: #ffffff;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        main {
            flex-grow: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        footer {
            background-color: black;
            padding: 10px 0;
            text-align: center;
            color: rgb(65, 65, 65);
            font-size: 14px;
        }
        /* .btn-light {
            background-color: #f8f9fa;
            color: #000;
        } */
        h1 {
            font-size: 2.5rem;
            font-weight: bold;
        }
        .input-group {
            margin-bottom: 20px;
        }
        .input-group input {
            height: 45px;
        }
        .container-header{
            padding: 5px;
            display: flex;
            position: relative;
            justify-content:center;
            align-items: center;
        }
        .button-container{
            display: flex;
            flex-direction: row;
            gap: 16px;
            position: absolute;
            right: 0;
        }
        .text-center{
            max-width: 60%;
        }
        .task-container{
            display: flex;
            flex-direction: row;
            height: 90%;
            column-gap: 2rem;
            justify-content:center;
            align-items: center;

        }
        .sub-task-container{
            width: 25%;
            height: 85%;
            background-color: #7492B9;
            border-radius: 2.5rem;
            flex-grow: 1;
            overflow:auto;
            justify-content:center;
            align-items: center;
            
        }
        .button-container-l{
            position: absolute;
            left: 0;
        }
    </style>
<body>
    <main class="container-on-tasks">
        <div class="container-header">
            <div class="button-container-l" style="text-align: left">
                <a href="{% url 'project_info' project.id %}" class="btn btn-primary"> <i class="fa fa-arrow-left"></i> Project Info</a>
            </div> 
            <h1 class="text-center">{{project.name}}: Tasks</h1>
            <div class="button-container" style="text-align: right">
                {% comment %} <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" autocomplete="off" checked> Your Tasks
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" autocomplete="off"> All Tasks
                    </label>
                </div> {% endcomment %}
                <form action="{% url 'task_upload' project.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" style=""> Add Task </button>
                </form>
            </div> 
        </div>

        <div class="task-container">
            <div class="sub-task-container" data-status="to do">
                <h1 class = 'd-flex justify-content-center' style ="color: #1c1c1c; margin-top: 9%; font-size:1.25rem;" > To Do</h1>
                {% include 'tasks.html' with tasks=to_do_tasks %}
            </div>
            <div class="sub-task-container" data-status="in progress">
                <h1 class = 'd-flex justify-content-center' style = "color: #1c1c1c; margin-top: 9%; font-size:1.25rem;">Ongoing</h1>
                {% include 'tasks.html' with tasks=in_progress_tasks %}
            </div>
            <div class="sub-task-container" data-status="waiting approval">
                <h1 class = 'd-flex justify-content-center' style = "color: #1c1c1c; margin-top: 9%; font-size:1.25rem;"> Review </h1>
                {% include 'tasks.html' with tasks=waiting_approval_tasks %}
            </div>
            <div class="sub-task-container" data-status="done">
                <h1 class = 'd-flex justify-content-center' style = "color: #1c1c1c; margin-top: 9%; font-size:1.25rem;">Done</h1>
                {% include 'tasks.html' with tasks=completed_tasks %}
            </div>
        </div>
<!--    for help with sortable
        https://www.htmlelements.com/docs/sortable-api/ 
        https://htmlstream.com/front-dashboard/documentation/sortablejs.html
        https://www.w3schools.com/jsreF/met_document_queryselector.asp
        https://stackoverflow.com/questions/76984684/drag-and-drop-issue-in-javascript-sortable-list -->
        
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                const taskGroups = document.querySelectorAll('.sub-task-container');
                
                taskGroups.forEach((taskGroup) => {
                    let tasks = taskGroup.querySelector('.tasks')

                    if(!tasks){
                        tasks = document.createElement('ul')
                        tasks.classList.add('tasks')
                        taskGroup.appendChild(tasks)
                    }

                    Sortable.create(tasks, {
                        group: {
                            name: 'shared',
                            pull: true,
                            put: true,
                        },
                        animation: 150,

                        onEnd: function(taskEvent){
                            

                            const taskId = taskEvent.item.getAttribute('data-task-id');
                            const updatedStatus = taskEvent.item.closest('.sub-task-container').getAttribute('data-status');

                            console.log('Task ID:', taskEvent.item.dataset.taskId);
                            console.log('New Status:', updatedStatus);
                            console.log(taskEvent.item);
                            console.log(taskEvent.item.dataset);
                            console.log(taskEvent.item.dataset.taskId);
                            console.log(taskEvent.item.getAttribute('data-task-id'));
                            console.log(taskEvent.item.nodeName);
                            try{
                                const response = fetch('/api/status-update/',{
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': '{{csrf_token}}'
                                    },
                                    body: JSON.stringify({
                                        task_id: taskId,
                                        new_status: updatedStatus
                                    })

                                });
                                if(!response.ok){
                                    console.error('in try error')
                                }
                            } catch(error){
                                console.error('outside of try')
                            }   
                        }
                    })
                })
            })

        </script>

             
    </main>
    {% endblock %}  
    <!-- <footer>
        <p>Created by: Computing ids</p>
        <p>&copy; CS 3240</p>
    </footer> -->
</body>
