<style>
    .tasks{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding-left: 0;
        margin-left: 0;
        margin-top: 4px;
        min-height: 100px;

    }
    .tasks li{
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 4px;
    }
    .task{
        margin-top: 2px;
        width: 90%;
        height: 4rem;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        color: #7492B9;
        cursor: grab;
    }
    .task:active{
        cursor: grabbing;
    }
    .tasks a{
        pointer-events: auto;
        text-decoration: none;
        color:inherit;
        font-weight: normal;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

    }
    .task h1{
        margin-top: 5px;
        font-size: 0.8rem;
    }
    .task h4{
        font-size: 0.6rem;
    }
    
</style>


{% if tasks %}
<ul class="tasks">
    {% for task in tasks %}
    <li class="task" data-task-id="{{task.id}}">
        <a href="{% url 'task_info_view' project.id task.id%}">
            <h1>{{task.name}}</h1>
            <h4>{{task.deadline|date:"M j, Y, g:i A"}}</h4>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
