{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="upload-section" style= "padding-top: 50px;">
        <h1>Upload Your Music Files</h1>
        <p>Organize and manage your music projects by uploading files below.</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary mt-4">Upload</button>
        </form>
    </div>
</div>
{% endblock %}
