{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="upload-section" style="text-align:center; padding-top: 50px;">
        <h1>Upload Your Music Files</h1>
        <p>Organize and manage your music projects by uploading files below.</p>

        <!-- File Upload Form -->
        <div class="form-group">
            <label for="fileUpload" style="color: white;">Select File</label>
            <input type="file" name="fileUpload" id="fileUpload" class="form-control" required>
        </div>
        <br>ç
        <br>
        <button type="submit" class="btn btn-primary" style="background-color: #1DB954; border: none; width: 100%; padding: 10px;">Upload</button>
    </div>
</div>
{% endblock %}
